WindowsFormsApp1Solution/WindowsFormsApp1/Connected Services/ServiceReference2/CatalogManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SupplierDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addrss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cntry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HmPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Phn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PstCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rgn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
  <xs:complexType name="ArrayOfSupplierDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierDTO" nillable="true" type="tns:ArrayOfSupplierDTO" />
</xs:schema>