WindowsFormsApp1Solution/WindowsFormsApp1/Connected Services/OrderService/SalesManagement2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53289/Services/SalesManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" />
  <xs:element name="GetAllOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" minOccurs="0" name="GetAllOrderResult" nillable="true" type="q1:ArrayOfOrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" minOccurs="0" name="GetOrderResult" nillable="true" type="q2:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" minOccurs="0" name="ob" nillable="true" type="q3:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>