WindowsFormsApp1Solution/WindowsFormsApp1/Connected Services/OrderService/SalesManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53289/Services/SalesManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53289/Services/SalesManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53289/Services/SalesManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkingWithWcfService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesManagement_GetAllOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrder" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_GetAllOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_SaveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrder" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_SaveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="ISalesManagement_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesManagement">
    <wsdl:operation name="GetAllOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesManagement/GetAllOrder" message="tns:ISalesManagement_GetAllOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesManagement/GetAllOrderResponse" message="tns:ISalesManagement_GetAllOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesManagement/GetOrder" message="tns:ISalesManagement_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesManagement/GetOrderResponse" message="tns:ISalesManagement_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesManagement/SaveOrder" message="tns:ISalesManagement_SaveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesManagement/SaveOrderResponse" message="tns:ISalesManagement_SaveOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesManagement/DeleteOrder" message="tns:ISalesManagement_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesManagement/DeleteOrderResponse" message="tns:ISalesManagement_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesManagement" type="tns:ISalesManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllOrder">
      <soap:operation soapAction="http://tempuri.org/ISalesManagement/GetAllOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/ISalesManagement/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <soap:operation soapAction="http://tempuri.org/ISalesManagement/SaveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/ISalesManagement/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesManagement">
    <wsdl:port name="BasicHttpBinding_ISalesManagement" binding="tns:BasicHttpBinding_ISalesManagement">
      <soap:address location="http://localhost:53289/Services/SalesManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>